.header_top_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
.icon_links_container{
  display: flex;
  align-items: center;
  gap:20px;
}
.header_container{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  z-index: 5;

}
.black_header{
  background-color: #010101;
  border-bottom: 1px solid #3b3a3a;
}